<%- include partials/header.ejs %>
  <% for(var i=0; i < schedules.length; i++) { %>
    <form action="/schedule/request" method="post" onsubmit="return confirm('Request a swap for <%= schedules[i].date %>?');">
      <div class="form-group col-lg-4">
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <input type="hidden" name="schedule-id" value="<%= schedules[i].id %>">
        <p><%= schedules[i].serviceType %> - <%= schedules[i].team %> - <%= schedules[i].position %></p>
        <p><%= schedules[i].date %></p>
        <button class="btn btn-primary">Swap</button>
      </div>
    </form>
  <% } %>
<%- include partials/footer.ejs %>
